services:
  attacker:
    build: ./attacker
    container_name: attacker
    networks:
      - public_internet
    tty: true
    volumes:
      - ./attacker/credentials:/attacker/credentials

  c2:
    build: ./attacker/c2
    container_name: c2
    networks:
      - public_internet
      - tunnel
    tty: true
    ports:
      - "8080:8080"
    volumes:
      - ./attacker/c2/public:/c2/public
      - ./attacker/credentials:/c2/credentials

  pms_server:
    build: ./pms-server
    container_name: pms_server
    networks:
      - public_internet
      - private_vpn
    ports:
      - "3000:3000"
    volumes:
      - ./keys/id_rsa:/home/node/.ssh/id_rsa
      - ./keys/id_rsa.pub:/home/node/.ssh/id_rsa.pub

  local_site_1:
    build: ./pms-client
    container_name: local_site_1
    environment:
      - ROOT_PASSWORD=mysecretpassword
    networks:
      - private_vpn
      - tunnel
    volumes:
      #- ./keys/id_rsa.pub:/tmp/ssh_key.pub:ro
      - ./keys/id_rsa.pub:/root/.ssh/authorized_keys

  local_site_2:
    build: ./pms-client
    container_name: local_site_2
    environment:
      - ROOT_PASSWORD=password123
    networks:
      - private_vpn
      - tunnel
    volumes:
      #- ./keys/id_rsa.pub:/tmp/ssh_key.pub:ro
      - ./keys/id_rsa.pub:/root/.ssh/authorized_keys

  local_site_3:
    build: ./pms-client
    container_name: local_site_3
    environment:
      - ROOT_PASSWORD=Barcelona2025!
    networks:
      - private_vpn
      - tunnel
    volumes:
      #- ./keys/id_rsa.pub:/tmp/ssh_key.pub:ro
      - ./keys/id_rsa.pub:/root/.ssh/authorized_keys
      
networks:
  public_internet:
    driver: bridge
  private_vpn:
    driver: bridge
    internal: true
  tunnel:
    driver: bridge